.for-sale {
    width: 100%;
    height: calc(100vh - 5rem - 5px);
    margin-top: 5rem;

    .page-header {
        display: flex;
        align-items: center;
        height: 50px;
        width: 100%;
        border-top: 1px solid $light-gray;
        box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.25);

        .nav-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            margin-right: 100px;
            padding-left: 1rem;

            .right-nav,
            .left-nav {
                display: flex;
                white-space: nowrap;

                .page-nav__selected {
                    border-bottom: 3px solid $orange;
                    p {
                        color: $orange;
                    }
                }

                div {
                    padding: 14px 1.1rem;

                    p {
                        color: #363636;
                    }
                    svg {
                        margin-left: 0.3rem;
                    }
                    p {
                        display: inline;
                    }
                    img {
                        vertical-align: middle;
                        height: 15px;
                        margin-left: 0.3rem;
                    }

                    &:hover {
                        background-color: #f9f9f9;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .page-content {
        max-width: 1000px;
        margin: 1rem auto;

        .search-bar {
            width: 100%;
            min-height: 100px;
            box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
            padding: 1rem;

            .search-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2 {
                    color: #363636;
                    font-size: 1.125rem;
                    font-weight: 500;
                    line-height: 1.375rem;

                    span {
                        color: $orange;
                        border-bottom: 2px dotted $orange;
                    }
                }

                .mail-notification {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 0.75rem;
                    line-height: 1.25rem;
                    height: 30px;
                    width: 210px;
                    font-weight: 500;
                    border-radius: 2px;
                    border: 1px solid $orange;
                    color: $orange;

                    svg {
                        margin-left: 0.5rem;
                    }

                    .tooltip {
                        display: none;
                        position: absolute;
                        margin-top: -85px;
                        color: white;
                        box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);

                        p {
                            background: #363636;
                            font-size: 0.875rem;
                            margin: 0;
                            padding: 3px;
                        }

                        .triangle {
                            position: absolute;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            width: 7px;
                            border-top: 7px solid #363636;
                            border-left: 7px solid transparent;
                            border-right: 7px solid transparent;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: $orange;
                        color: white;
                        .tooltip {
                            display: block !important;
                        }
                    }
                }
            }

            form {
                display: flex;
                align-items: center;
                position: relative;

                .input {
                    display: flex;
                    flex-direction: column;
                    font-size: 0.825rem;
                    margin-left: 1rem;

                    label {
                        margin-bottom: 0.3rem;
                    }
                }

                .advance-button {
                    align-self: flex-end;
                    white-space: nowrap;
                    min-width: 138px;
                    height: 36px;
                    font-size: 0.825rem;
                    font-weight: 500;
                    line-height: 1.0625rem;
                    border: 1px solid #eee;
                    background-color: #eee;
                    color: #363636;

                    &:hover {
                        cursor: pointer;
                        background-color: #ccc;
                    }
                }

                button[type="submit"] {
                    @extend .advance-button;
                    min-width: 0;
                    width: 97px;
                    background-color: $orange;
                    border-color: #ff7100;
                    color: white;
                    margin-right: 1rem;

                    &:hover {
                        background-color: #d86000;
                    }
                }
            }
        }
    }
}

.dropdown {
    button {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: inherit;
        background-color: white;
        border: 1px solid #ccc;

        &:hover {
            cursor: pointer;
        }

        h5 {
            margin: 0;
            padding: 0.5rem;
            font-size: 0.825rem;
            font-weight: 400;
            white-space: nowrap;
            color: #999999;
        }
    }

    .dropdown-content {
        position: absolute;
        width: 277px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
        background-color: white;
        z-index: 3;

        .drawer {
            margin: 0.8rem 0;
            font-size: 1rem;
            font-weight: 400;
            color: #363636;
            background-color: #f9f9f9;
            border-bottom: 1px solid #eee;
            min-height: 44px;

            .drawer-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 1rem;

                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                h6 {
                    margin: 0;
                    font: inherit;
                }
                &:hover {
                    cursor: pointer;
                    .check-box-button {
                        border-color: $orange;
                    }
                }
            }

            .drawer-content {
                background-color: white;
                width: 100%;
                ul {
                    padding: 0 2rem 0 0;
                    list-style: none;

                    .drawer-item {
                        width: calc(100% - 2rem);
                        display: flex;
                        align-items: center;
                        border-bottom: 1px solid #eee;
                        padding: 0.5rem;

                        &:hover {
                            cursor: pointer;
                            .check-box-button {
                                border-color: #d86000;
                            }
                            .check-box-button__marked {
                                background-color: #d86000;
                            }
                        }
                    }
                }
            }
        }

        p {
            color: $orange;
            text-align: left;
            margin: 0 0 1rem 1rem;
            font-size: 0.825rem;
            font-weight: 500;

            &:hover {
                cursor: pointer;
                color: #d86000;
            }
        }
    }
}

.advance-search {
    position: absolute;
    top: 72px;
    margin: 0 auto;

    .dropdown-content {
        margin-right: -1rem;
        width: 1000px;
        z-index: 1;

        .part-2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 40px;
            border-bottom: 1px solid #ccc;

            .input {
                margin: 1rem;
            }

            input {
                margin-left: 0.5rem;
            }
        }

        .part-3 {
            justify-content: left;
            input {
                width: 332px;
            }

            .towns-only {
                display: flex;
                align-items: center;
                margin-top: 1.3rem;

                p {
                    margin: 0;
                    color: #363636;
                    font-size: 1rem;
                    font-weight: 400;
                }

                &:hover {
                    cursor: pointer;
                    .check-box-button {
                        border-color: #d86000;
                    }
                    .check-box-button__marked {
                        background-color: #d86000;
                    }
                }
            }
        }

        .part-4 {
            justify-content: center;

            button[type="submit"] {
                margin: 1rem 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            button[type="reset"] {
                position: absolute;
                left: 0;
                width: 75px;
                border: none;
                font-size: 0.8rem;
                color: #363636;
            }
        }

        .properties {
            margin: 0 40px;

            .properties-content {
                display: flex;
                flex-flow: row wrap;
                border-bottom: 1px solid #eee;

                .property {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    width: 176px;
                    height: 45px;
                    p {
                        margin: 0;
                        color: #363636;
                        font-weight: 400;
                    }

                    &:hover {
                        cursor: pointer;
                        .check-box-button {
                            border-color: #d86000;
                        }
                        .check-box-button__marked {
                            background-color: #d86000;
                        }
                    }
                }
            }
        }
    }

    .floor-input {
        .floor-dropdown {
            display: flex;

            & > div {
                margin-left: 0.5rem;
                .dropdown {
                    width: 123px;
                    .dropdown-content {
                        width: 123px;
                        margin-right: 0;
                        overflow: auto;
                        height: 320px;

                        ul {
                            padding: 0;
                            list-style: none;
                            li {
                                color: #363636;
                                font-size: 0.825rem;
                                padding: 0.5rem;
                                &:hover {
                                    cursor: pointer;
                                    background-color: #eee;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.kind-input {
    button {
        width: 145px;
    }
}

.date-input {
    .inputs {
        display: flex;
        align-items: center;

        input {
            border: 1px solid #ccc;
            width: 188px;
            height: 36px;
            color: #363636;
        }

        div {
            display: flex;
            align-items: center;

            &:hover {
                cursor: pointer;
                .check-box-button {
                    border-color: #d86000;
                }
                .check-box-button__marked {
                    background-color: #d86000;
                }
            }

            p {
                margin: 0;
                color: #363636;
                font-size: 1rem;
                font-weight: 400;
                &:hover {
                    color: #363636;
                }
            }
        }
    }
}

.check-box-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 1rem;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0.5rem;

    svg {
        color: white;
        font-size: 0.8rem;
    }
}
.check-box-button__marked {
    background-color: $orange;
    border-color: $orange;
}

.rooms-input {
    button {
        width: 100px;
    }
    .dropdown-content {
        width: 180px !important;
        .rooms-dropdown {
            padding: 1rem;
            height: 4rem;
            display: flex;
            margin: 0 auto;
            align-items: center;

            .dropdown {
                button {
                    width: 73px;
                }
            }

            .dropdown-content {
                display: flex;
                width: 73px !important;
                max-height: 320px;
                overflow: auto;
                ul {
                    width: 100%;
                    padding: 0;
                    list-style: none;

                    li {
                        color: #363636;
                        font-size: 0.825rem;
                        padding: 0.5rem;
                        &:hover {
                            cursor: pointer;
                            background-color: #eee;
                        }
                    }
                }
            }
        }
    }
}

.price-input {
    .inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        input {
            width: 97px;
            height: 36px;
            background-color: white;
            border: 1px solid #ccc;
            outline: none;

            &::placeholder {
                padding: 0.5rem;
                font-size: 0.825rem;
                font-weight: 400;
                white-space: nowrap;
                color: #999999;
            }
        }
    }
}

.city-input {
    input {
        width: 212px;
        height: 36px;
        padding: 0.5rem;
        background-color: white;
        border: 1px solid #ccc;
        outline: none;

        &::placeholder {
            padding: 0.5rem;
            font-size: 0.825rem;
            font-weight: 400;
            white-space: nowrap;
            color: #999999;
        }
    }

    .dropdown {
        .dropdown-content {
            .result {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    margin: 0.5rem;
                    color: #363636;
                    font-size: 1rem;
                    font-weight: 400;
                }
                span {
                    font-size: 1rem;
                    font-weight: 500;
                    margin-left: 1rem;
                }

                &:hover {
                    background-color: #eee;
                    cursor: pointer;
                }
            }
        }
    }
}
